:root {

    /* Colors: */
    --purple: #63317D;
    --yellow: #E5A20C;
    --red: #E82E56;
    --green: #00BF8D;
    --white: #FFFFFF;
    --light-purple: #F6F5FF;
    --light-grey: #D9DADB;
    --grey: #BCBFC2;
    --dark-grey: #939699;
    --dark-purple: #481F66;
    --almost-black: #262D33;
}

h1,
h2,
h3 {
    font-weight: bold;
}

@font-face {
    font-family: "Madani";
    src: url("../font/MadaniArabic-Regular.ttf");
}

@font-face {
    font-family: "MadaniBold";
    src: url("../font/MadaniArabic-ExtraBold.ttf");
}

.nav-link {
    padding: 35px 10px !important;
    color: var(--white);
}

.nav-link:hover {
    color: var(--white);
}

.navbar-collapse {
    margin-left: 40px;
}

.navbar-brand {
    width: 90px;
}

.nav-container {
    background: transparent linear-gradient(91deg, var(--purple) 0%, var(--dark-purple) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(91deg, var(--purple) 0%, var(--dark-purple) 100%) 0% 0% no-repeat padding-box;
}

.navbar {
    width: 90%;
}

body {
    font-family: Madani;
    font-size: 14px;
    background-color: var(--light-purple);
    color: var(--almost-black);
}

.btn {
    height: 40px;
    font-weight: bold;
    transition: 0.3s ease-in-out !important;
}

.btn-yellow {
    background-color: var(--yellow);
    color: var(--dark-purple);
    margin: 0 10px;
}

.btn-border-radius {
    border-radius: 20px;
}

.icon-input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 40px;
    color: var(--grey);
    padding: 0 20px;
    background-color: white;
}

.icon-input input {
    margin-right: 15px;
}

.icon-input input[type="text"] {
    height: 100%;
    border: none;
}

.icon-input input:focus {
    outline: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--grey);
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--grey);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--grey);
}

.dropdown-toggle::after {
    display: none;
    background-image: url('../icons/arrowdown.svg');
}

.lang-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding: 5px;
    border-radius: 50%;
    border: 1px solid var(--white);
    height: 26px;
    width: 26px;
}

.donation-block {
    display: flex;
    align-items: center;
}

.notifications-count {
    background-color: var(--purple);
    padding: 5px;
    color: var(--white);
    border-radius: 50%;
    height: 26px;
    width: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

#slider .slick-slide {
    height: 800px !important;
}

.slide-image {
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
}

.slide-image h1 {
    font-size: 90px;
    max-width: 860px;
}

.slide-image .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slide-image p {
    font-size: 18px;
    max-width: 450px;
}

.slick-arrow {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

#slider .slick-arrow {
    z-index: 1;
    border: 1px solid var(--white);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.slick-dots {
    bottom: 50px !important;
}

.slick-dots button::before {
    font-size: 10px !important;
}

.slick-active button::before {
    color: var(--white) !important;
    font-size: 14px !important;
}

.slick-custom-buttons {
    position: relative;
    display: flex;
}

.slick-custom-next {
    background-image: url('../icons/arrowleft.svg');
    transform: rotate(180deg);
}

.slick-custom-prev {
    background-image: url('../icons/arrowleft.svg');
}

.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}

#our-vision .inner {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;
}

#our-vision .inner .row {
    margin-top: 50px;
}

#our-vision .description {
    font-size: 35px;
    font-weight: bold;
    margin-top: 20px;
    max-width: 700px;
}

.num-description-wrapper h3 {
    color: var(--dark-purple);
    font-size: 70px;
}

.num-description-wrapper p {
    font-size: 14px;
    color: var(--almost-black);
    margin-top: 20px;
}

.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-extra-padding {
    padding-top: 150px;
    padding-bottom: 150px;
}

.b-radius-10 {
    border-radius: 10px;
}

#quick-donation {
    background-image: url(../images/man-child.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#quick-donation .inner {
    background-color: var(--dark-purple);
    padding: 60px;
    border-radius: 15px;
}

#quick-donation .inner>p {
    font-size: 18px;
}

#quick-donation h4 {
    font-size: 30px;
    font-weight: bold;
}

#quick-donation p {
    margin-top: 20px;
    font-weight: bold;
}

#quick-donation .form {
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#quick-donation .form .label {
    font-size: 16px;
    font-weight: bold;
}

#quick-donation .btn {
    font-weight: bold;
    padding: 18px 20px;
    height: 56px;
    line-height: 22px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 19px;
}

.num-count-countainer {
    font-size: 18px;
}

.num-count-countainer input {
    width: 50px;
    margin: 0 15px;
    background-color: transparent;
    border: none;
    color: var(--white);
    text-align: center;
}

.num-count-countainer .btn {
    padding: 0 !important;
}

.donation-radios .form-check {
    margin-bottom: 15px;
    white-space: nowrap;
    margin-right: 10px;
}

.project-teaser {
    border-radius: 15px;
    position: relative;
    height: 580px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.project-teaser img {
    width: 100%;
    position: absolute;
}

.teaser-text {
    position: relative;
    z-index: 1;
    padding: 20px;
}

.teaser-text h2 {
    font-size: 50px;
}

#latest-projects .description {
    font-size: 18px;
    color: var(--dark-grey);
    margin-bottom: 40px;
}

#latest-projects .slick-arrow {
    border: 1px solid var(--dark-purple);
    border-radius: 50%;
    margin-left: 15px;
}

#latest-projects h3 {
    margin-bottom: 35px;
}

.latest-projects-slick-custom-next {
    background-image: url('../icons/chevronright.svg');
}

.latest-projects-slick-custom-prev {
    background-image: url('../icons/chevronright.svg');
    transform: rotate(180deg);
}

.latest-project-card .status-label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 7px 15px;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.latest-project-card .new {
    background-color: var(--green);
}
.latest-project-card .urgant {
    background-color: var(--red);
}
.latest-project-card .permissible {
    background-color: var(--purple);
}

.latest-project-card {
    position: relative;
    border: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.latest-project-card .body {
    padding: 15px;
    font-size: 12px;
}

.latest-project-card p {
    color: #7C7C7C;
}

.latest-project-card .body .btn {
    display: flex;
    font-size: 12px;
    font-weight: bold;
}

.latest-project-card h4 {
    font-size: 16px;
    color: var(--dark-purple);
    font-weight: bold;
}

.latest-project-card img {
    max-width: 100%;
}

.latest-project-numbers {
    font-size: 9px;
    margin-top: 10px;
}

.latest-project-numbers .value {
    color: var(--almost-black);
    font-size: 12px;
    margin-bottom: 0;
}

.latest-project-numbers .curruncy {
    color: var(--almost-black);
    font-size: 9px;
}

.latest-project-input-wrapper input {
    width: 56px;
    height: 30px;
    border: 1px solid var(--light-grey);
    border-radius: 15px;
    text-align: center;
    color: #4B5157;
    font-size: 14px;
}

.latest-project-input-wrapper>* {
    margin: 0 5px;
}

.latest-project-card .footer .btn {
    border-radius: 30px;
    padding: 9px 15px;
    font-size: 14px;
}

#success-stories .inner {
    background-color: white;
    padding: 5px;
}

#success-stories .image-wrapper {
    border-radius: 10px;
}

#success-stories .body {
    padding: 118px;
}

#success-stories .large-black-title {
    max-width: 290px;
    margin-bottom: 50px;
}

#success-stories .small-purple-title {
    max-width: 290px;
    margin-bottom: 30px;
}

#success-stories .description {
    font-size: 18px;
}

#qoute .qoute-wrapper {
    padding: 100px;
    background-repeat: no-repeat;
}

#qoute .qoute-wrapper p {
    /* max-width: 727px; */
    font-size: 40px;
}

#qoute .avatar-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid white;
    font-size: 19px;
}

#qoute .avatar-wrapper img {
    width: 100%;
}

#qoute .person {
    padding-bottom: 100px;
}

#qoute .person-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
}

#qoute .person-data .name {
    color: var(--dark-purple);
    font-weight: bold;
}

#footer {
    padding-top: 60px;
    padding-bottom: 10px;
    background-color: var(--dark-purple);
}

.logo-suffix {
    margin: 5px;
    font-size: 9px;
}

.copyright {
    margin-top: 60px;
    opacity: 0.4;
}

.sitemap li {
    margin-bottom: 10px;
}

.sitemap a {
    opacity: 0.7;
    color: white;
}

.contact p {
    margin-bottom: 2px;
    opacity: 85%;
}

.newsletter input {
    background-color: var(--dark-purple);
    border: 1px solid #9857BA;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.newsletter .btn-purple {
    background-color: var(--purple);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 0;
    margin-left: -5px;
}

/****************************************************************/
/*                                                              */
/*   General Components                                         */
/*                                                              */
/****************************************************************/
.progress-bar {
    position: relative;
    height: 5px;
    width: 100%;
    background-color: var(--light-grey);
    border-radius: 3px;
}

.progress-bar-value {
    width: 60%;
    background-color: var(--dark-purple);
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    border-radius: 3px;
}

.color-white {
    color: var(--white);
}

.color-grey {
    color: var(--grey);
}

.btn-white {
    background-color: var(--white);
    color: var(--dark-purple);
}

.btn-white:hover {
    background-color: var(--dark-purple);
    color: var(--white);
    border-color: var(--white);
}

.btn-purple {
    background-color: var(--dark-purple);
    color: var(--white);
}

.btn-purple:hover {
    background-color: white;
    color: var(--dark-purple);
    border-color: var(--dark-purple);
}

.color-dark-purple {
    color: var(--dark-purple);
}

.small-purple-title {
    color: var(--dark-purple);
    font-size: 16px;
    font-weight: normal;
}

.large-black-title {
    font-size: 40px;
}

.btn.btn-lg {
    height: 56px;
    font-size: 19px;
    padding: 19px 42px;
    line-height: 22px;
    font-weight: bold;
}

.btn.rounded {
    border-radius: 30px !important;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

ul.no-style {
    list-style: none;
    padding: 0;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1364px;
    }
}

.form-check-input {
    position: relative;
    /* text-indent: -9999px; */
    /* z-index: -1; */
}

.form-check-label {
    margin-left: 5px;
}

.form-check-input.custom:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--dark-purple);
    border: 1px solid var(--light-grey)
}

.form-check-input.custom:checked:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--white);
    border: 1px solid var(--light-grey)
}

.form-check-input.custom:checked::before {
    background-color: var(--yellow);
    border-color: var(--yellow);
}

@media (min-width: 1201px) and (max-width: 1536px) {
    .nav-link {
        padding: 20px 5px;
        font-size: 11px;
    }
    .nav-item button {
        font-size: 11px;
    }

    body {
        font-size: 11px;
    }
}