@media (min-width: 1200px) {
  .container {
    max-width: 1364px;
  }
  .paragraph-80 {
    width: 80%;
  }
  .desktop-menu .navbar-nav {
    flex: 1;
    justify-content: center;
  }
  .hero-inner {
    width: 80%;
  }
}

@media (min-width: 1537px) {
  .individual-kafalat-content {
    margin-top: -120px;
  }
}

@media (min-width: 1201px) and (max-width: 1536px) {
  body {
    font-size: 12px;
  }

  .btn {
    &.btn-lg {
      font-size: 14px;
      padding: 9px 20px;
      height: unset;
    }
  }

  .six-projects-wrapper {
    justify-content: flex-start !important;
    > * {
      width: 23%;
    }
  }

  .nav-item {
    padding: 20px 5px;
    font-size: 12px;
  }

  .hide-1200 {
    display: none !important;
  }

  .nav-container {
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .col-xl-7 {
    max-width: 90% !important;
    flex: 1;
  }
}

@media (min-width: 992px) {
  .navbar-nav {
    > .nav-item {
      display: flex !important;
      align-items: center;
    }
  }

  #navbarSearchContent {
    display: none !important;
  }

  .nav-container {
    .nav-link {
      &:hover {
        color: $white;
        background-color: #896c99;
        .fa {
          color: $yellow;
        }
      }
    }
  }

  .navbar-collapse {
    &.mobile-menu {
      display: none !important;
    }
  }
}

@media (max-width: 1200px) {
  .six-projects-wrapper {
    justify-content: flex-start !important;
    > * {
      width: 30%;
    }
  }
  #success-stories {
    .body {
      padding: 30px;
    }
    .d-flex {
      flex-wrap: wrap;
      a {
        margin-left: 0 !important;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 992px) {
  .teaser-text h2 {
    font-size: 42px;
  }

  .six-projects-wrapper {
    > * {
      width: 46%;
    }
  }

  .section-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .desktop-menu {
    &.show {
      display: none !important;
    }
  }

  .navbar {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .navbar-brand {
    padding: 30px 15px;
  }

  .nav-container {
    .nav-link {
      padding: 20px 15px !important;
      font-weight: bold;
    }
  }

  .nav-item {
    padding: 0;
  }

  .navbar-toggler {
    flex: 1;
  }

  .navbar-toggler-icon {
    &::before {
      font-family: Fontawesome;
      content: "\f550";
      color: $white;
      font-size: 25px;
    }
  }

  .has-submenu {
    position: relative;
  }

  .has-submenu .dropdown-item:not(.color-yellow) {
    opacity: 70%;
  }

  .nav-item.dropdown::after,
  .has-submenu::after {
    content: "\f054";
    position: absolute;
    font-family: Fontawesome;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: $grey;
  }

  .seasonal-container {
    position: absolute;
    top: 100%;
    z-index: 1;
    width: 100%;
    left: -8px;
    .btn {
      width: 100%;
      border-radius: 0;
      height: 60px;
    }
    &::after {
      content: "";
      position: absolute;
      height: 30px;
      width: 100%;
      top: 100%;
      background-color: $dark-purple;
    }
  }

  .back-to-parent-menu {
    cursor: pointer;
  }

  .dropdown-menu {
    position: fixed !important;
    height: 100%;
    left: 0;
    top: 90px;
    width: 100%;
    background-color: $dark-purple;
    a {
      color: $white;
      &.active {
        color: $white;
      }
    }
    > * {
      padding: 15px 20px;
      color: $white;
    }
  }

  .dropdown-title {
    font-weight: bold;
  }

  .flags-menu {
    a {
      justify-content: flex-start;
      padding: 15px 20px;
      &.active::before {
        left: unset;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    span {
      margin: 0 5px;
    }
    img {
      margin-right: 10px;
    }
  }
  .back-to-main-menu {
    position: relative;
    padding-left: 45px;
    cursor: pointer;
    &::before {
      content: "\f30a";
      font-family: Fontawesome;
      position: absolute;
      left: 15px;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: $white;
      opacity: 0.3;
    }
  }
}

@media (max-width: 768px) {
  .success-stories-item {
    flex-direction: column-reverse;
  }

  .individual-kafala {
    .p-5 {
      padding: 15px 0 !important;
    }
  }

  .individual-kafala-orphans {
    padding: 20px !important;
  }

  .paragraphs-container {
    p {
      max-width: 100%;
    }
  }

  .individual-kafalat-content {
    > * {
      justify-content: space-between;
    }
    .footer {
      flex-direction: column;
      button {
        width: 100%;
        margin-left: 0 !important;
        margin-bottom: 15px;
      }
    }
  }

  .banner-title {
    font-size: 50px;
  }

  .font-size-md2 {
    font-size: 14px;
  }

  .font-size-xxl2 {
    font-size: 40px;
  }

  .success-stories-item {
    flex-wrap: wrap;
    img {
      width: 100%;
    }
    .container {
      padding-left: 0;
    }
  }

  .btn-social {
    width: 100%;
  }

  .btn-wide {
    max-width: 200px;
  }

  .help-request-wrapper {
    width: 100%;
    .overlay-wrapper {
      width: 100%;
      height: 250px;
    }
  }
  .help-image {
    width: 100%;
  }

  .six-projects-wrapper {
    > * {
      width: 100%;
    }
  }

  .banner-description {
    font-size: 14px;
  }

  #our-vision {
    .inner {
      padding-left: 15px;
      padding-right: 15px;
    }

    .description {
      font-size: 22px;
    }
  }

  .project-teaser {
    max-height: 500px;
  }

  .num-description-wrapper {
    h3,
    p {
      text-align: left;
    }
    h3 {
      font-size: 40px;
    }

    p {
      font-size: 12px;
    }
  }

  #quick-donation {
    background-image: none;

    &.section-extra-padding {
      padding: 0;
    }

    .mobile-image {
      height: 220px;
      width: 100%;
      object-fit: cover;
    }

    .inner-wrapper {
      padding: 0 30px;
    }

    .inner {
      padding: 40px 15px;

      > p {
        font-size: 14px;
      }
    }
    h4 {
      font-size: 20px;
    }
    .form {
      width: 90%;
    }
    .submit-container {
      .btn {
        width: 90%;
        margin: auto !important;
        margin-top: 10px !important;
      }
    }
  }

  #latest-projects {
    .description {
      font-size: 16px;
    }
  }

  .latest-project-card {
    .body {
      font-size: 14px;
    }
  }

  #success-stories {
    .body {
      padding: 30px;
    }
    .large-black-title {
      font-size: 22px;
    }
    .justify-content-between {
      justify-content: flex-start !important;
    }
    .image-wrapper {
      height: 300px;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  #qoute {
    .qoute-wrapper {
      padding: 30px;
      background-size: contain;
      p {
        font-size: 20px;
      }
    }
    .p-5 {
      padding: 0 !important;
    }
  }

  #footer {
    text-align: center;
  }

  .social-media-links {
    justify-content: center;
  }

  #slider .slick-slide {
    height: 512px !important;
  }

  .btn {
    &.btn-lg {
      font-size: 14px;
      padding: 9px 20px;
      height: unset;
    }
  }
  .small-purple-title {
    font-size: 12px;
  }

  .links-dropdown {
    min-width: 100%;
  }

  .large-black-title {
    font-size: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .success-stories-item {
    flex-wrap: wrap;
    img {
      width: 100%;
    }
    .container {
      padding-left: 0;
    }
  }
}
