html[dir="rtl"] {
  .slick-custom-buttons,
  .latest-projects-slick-buttons {
    flex-direction: row-reverse;
  }
  #slider .slick-custom-next {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  #slider .slick-custom-prev {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .latest-projects-slick {
    direction: ltr;
  }

  .back-to-main-menu::before,
  .nav-item.dropdown::after,
  .has-submenu::after,
  .fa-right-long {
    transform: rotate(180deg);
    /************************/
  }
}

html[dir="ltr"] {
  .lang-button {
    font-family: none;
    padding-top: 1px;
  }
}

.select2-container--default .select2-selection--single {
  border: 1px solid #ced4da !important;
  border-radius: 0 !important;
  height: calc(1.5em + 0.75rem + 2px) !important;
  font-size: 1rem;
  display: flex !important;
  align-items: center;
}

.select2-selection__arrow {
  height: 100% !important;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: $dark-purple !important;
  color: $white;
}

.select2-container {
  max-width: 100%;
}

.select2-container--default.select2-container--focus
  .select2-selection--multiple,
.select2-container--default .select2-selection--single:focus {
  box-shadow: 0 0 0.2rem rgba($color: $dark-purple, $alpha: 0.25);
  border-color: $dark-purple !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: $dark-purple !important;
}

#success-story-inner {
  .social-media-links {
    a {
      color: $grey;
      border: 1px solid $grey;
    }
  }
}