$purple: #63317d;
$yellow: #e5a20c;
$red: #e82e56;
$green: #00bf8d;
$white: #ffffff;
$light-purple: #f6f5ff;
$light-grey: #d9dadb;
$grey: #bcbfc2;
$dark-grey: #939699;
$dark-purple: #481f66;
$almost-black: #262d33;
$light-blue: #85b1ff;
$secondary: #7C7C7C;

$font-size-xxl: 100px;
$font-size-xl: 40px;
$font-size-lg: 30px;
$font-size-md: 20px;
$font-size-sm: 16px;
$font-size-xs: 12px;