$purple: #63317d;
$yellow: #e5a20c;
$red: #e82e56;
$green: #00bf8d;
$white: #ffffff;
$light-purple: #f6f5ff;
$light-grey: #d9dadb;
$grey: #bcbfc2;
$grey2: #4b5157;
$dark-grey: #939699;
$dark-purple: #481f66;
$almost-black: #262d33;
$light-blue: #85b1ff;
$secondary: #7C7C7C;

// Buttons
$red2: #FF4F52;
$red-opacity: #FFC4C9;
$facebook: #4267B2;
$facebook-opacity: #BBC6FF;
$twitter: #1DA1F2;
$twitter-opacity: #C5E4FC;

$font-size-xxl: 100px;
$font-size-xxl2: 70px;
$font-size-xl: 40px;
$font-size-lg: 30px;
$font-size-md: 20px;
$font-size-md2: 18px;
$font-size-sm: 16px;
$font-size-sm2: 14px;
$font-size-xs: 12px;
$font-size-xs2: 12px;
$font-size-xs3: 10px;
$font-size-xxs: 9px;